<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">
	
	<!--sample03 -->
	<context:component-scan base-package="sample03"/>
	<!--어노테이션(@) 를 사용할 때 작성 꼭 해줘야 됨  -->
	
	
	
	<!--scope="prototype"
			  "request" 영역 범위안에서만
			  "session" 세션이 살아있는 동안만
			  "singleton"
	-->
	<context:component-scan base-package="sample04"/>
	
</beans>
